
.info {
    border: 1px solid #806000;
    background: #FFE8D0;
}
.warning {
    border: 1px solid #800000;
    background: #FFE8E8;
}
.success {
    border: 1px solid #008000;
    background: #F0FFE8;
}

.review-box {
    margin: 0px 0px 5px 0px;
    padding: 5px;
    width: 20em;
}

.reviewable-form-box {
    float: right;
}

#reviewable-main {
    display: none;
}

.myReviews-review {
    border-bottom: 1px solid black;
}

#reviewable-comment {
    width: 20em;
}
