
.info {
    border: 1px solid #806000;
    background: #FFE8D0;
}
.warning {
    border: 1px solid #800000;
    background: #FFE8E8;
}
.success {
    border: 1px solid #008000;
    background: #F0FFE8;
}

.review-box {
    margin: 0px 0px 5px 5px;
    padding: 2px;
    width: 210px;
}

.reviewable-form-box {
    position: absolute;
    right: 0px;
    font-size: 80%;
}

#reviewable-main {
    display: none;
}



#reviewable-comment {
    width: 500px;
    height: 250px;
}

/* MyReviews special page */

.PeerReview-MyReviews-received {
    border: 1px solid #0000AA;
    background-color: #F8F8F8;
    margin-bottom: 5px;
    padding: 5px
}

.PeerReview-MyReviews-given {
    border: 1px solid #00AA00;
    background-color: #F8F8F8;
    margin-bottom: 5px;
    padding: 5px
}

#PeerReview-MyReviews-received-side {
    width: 50%;
    border: 1px solid #000040;
    background: #F0F0FF;
}

#PeerReview-MyReviews-given-side {
    width: 50%;
    border: 1px solid #004000;
    background: #F0FFF0;
}
